--
-- PostgreSQL database dump
--

\restrict XQTYiakYIBqF3gCp6qgeGjA6fzOmMsE4C6SqPrLhp2F13qQg5qdvQOa8yg2hTtw

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: affkit
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO affkit;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: affkit
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    start_date date,
    end_date date,
    is_archived boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT campaigns_dates_check CHECK (((end_date IS NULL) OR (start_date IS NULL) OR (end_date >= start_date))),
    CONSTRAINT campaigns_name_not_empty CHECK ((TRIM(BOTH FROM name) <> ''::text))
);


ALTER TABLE public.campaigns OWNER TO affkit;

--
-- Name: email_tokens; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.email_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token uuid DEFAULT gen_random_uuid() NOT NULL,
    type character varying(30) NOT NULL,
    is_used boolean DEFAULT false NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT email_tokens_type_check CHECK (((type)::text = ANY ((ARRAY['EMAIL_VERIFY'::character varying, 'PASSWORD_RESET'::character varying])::text[])))
);


ALTER TABLE public.email_tokens OWNER TO affkit;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO affkit;

--
-- Name: link_clicks; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.link_clicks (
    id bigint NOT NULL,
    link_id uuid NOT NULL,
    clicked_at timestamp with time zone DEFAULT now() NOT NULL,
    source character varying(50),
    referrer text,
    ip_hash character varying(64),
    user_agent text,
    device_type character varying(20),
    country character varying(2),
    is_bot boolean DEFAULT false NOT NULL,
    CONSTRAINT link_clicks_device_check CHECK (((device_type IS NULL) OR ((device_type)::text = ANY ((ARRAY['MOBILE'::character varying, 'DESKTOP'::character varying, 'TABLET'::character varying])::text[]))))
);


ALTER TABLE public.link_clicks OWNER TO affkit;

--
-- Name: link_clicks_id_seq; Type: SEQUENCE; Schema: public; Owner: affkit
--

CREATE SEQUENCE public.link_clicks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.link_clicks_id_seq OWNER TO affkit;

--
-- Name: link_clicks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: affkit
--

ALTER SEQUENCE public.link_clicks_id_seq OWNED BY public.link_clicks.id;


--
-- Name: link_tags; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.link_tags (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    link_id uuid NOT NULL,
    tag character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT link_tags_not_empty CHECK ((TRIM(BOTH FROM tag) <> ''::text))
);


ALTER TABLE public.link_tags OWNER TO affkit;

--
-- Name: links; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    campaign_id uuid,
    original_url text NOT NULL,
    short_code character varying(12) NOT NULL,
    title character varying(255),
    platform character varying(20),
    click_count bigint DEFAULT 0 NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT links_platform_check CHECK (((platform IS NULL) OR ((platform)::text = ANY ((ARRAY['SHOPEE'::character varying, 'LAZADA'::character varying, 'TIKI'::character varying, 'TIKTOK'::character varying, 'OTHER'::character varying])::text[]))))
);


ALTER TABLE public.links OWNER TO affkit;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.user_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    refresh_token character varying(255) NOT NULL,
    device_info character varying(500),
    ip_address character varying(45),
    is_revoked boolean DEFAULT false NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    last_used_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_sessions OWNER TO affkit;

--
-- Name: users; Type: TABLE; Schema: public; Owner: affkit
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    plan character varying(20) DEFAULT 'FREE'::character varying NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    is_locked boolean DEFAULT false NOT NULL,
    locked_until timestamp with time zone,
    failed_attempts smallint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_plan_check CHECK (((plan)::text = ANY ((ARRAY['FREE'::character varying, 'PRO'::character varying, 'BUSINESS'::character varying, 'ENTERPRISE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO affkit;

--
-- Name: link_clicks id; Type: DEFAULT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_clicks ALTER COLUMN id SET DEFAULT nextval('public.link_clicks_id_seq'::regclass);


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: email_tokens; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: link_clicks; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: link_tags; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: links; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: affkit
--



--
-- Name: link_clicks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: affkit
--

SELECT pg_catalog.setval('public.link_clicks_id_seq', 4, true);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: email_tokens email_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.email_tokens
    ADD CONSTRAINT email_tokens_pkey PRIMARY KEY (id);


--
-- Name: email_tokens email_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.email_tokens
    ADD CONSTRAINT email_tokens_token_unique UNIQUE (token);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: link_clicks link_clicks_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_clicks
    ADD CONSTRAINT link_clicks_pkey PRIMARY KEY (id);


--
-- Name: link_tags link_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_tags
    ADD CONSTRAINT link_tags_pkey PRIMARY KEY (id);


--
-- Name: link_tags link_tags_unique; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_tags
    ADD CONSTRAINT link_tags_unique UNIQUE (link_id, tag);


--
-- Name: links links_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.links
    ADD CONSTRAINT links_pkey PRIMARY KEY (id);


--
-- Name: links links_short_code_unique; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.links
    ADD CONSTRAINT links_short_code_unique UNIQUE (short_code);


--
-- Name: user_sessions sessions_refresh_token_unique; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT sessions_refresh_token_unique UNIQUE (refresh_token);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_campaigns_user_id; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_campaigns_user_id ON public.campaigns USING btree (user_id) WHERE (is_archived = false);


--
-- Name: idx_email_tokens_token; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_email_tokens_token ON public.email_tokens USING btree (token);


--
-- Name: idx_email_tokens_user_id; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_email_tokens_user_id ON public.email_tokens USING btree (user_id);


--
-- Name: idx_links_campaign_id; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_links_campaign_id ON public.links USING btree (campaign_id);


--
-- Name: idx_links_short_code; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_links_short_code ON public.links USING btree (short_code);


--
-- Name: idx_links_user_id; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_links_user_id ON public.links USING btree (user_id) WHERE (is_deleted = false);


--
-- Name: idx_user_sessions_refresh_token; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_user_sessions_refresh_token ON public.user_sessions USING btree (refresh_token);


--
-- Name: idx_user_sessions_user_id; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_user_sessions_user_id ON public.user_sessions USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: affkit
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: campaigns campaigns_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: email_tokens email_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.email_tokens
    ADD CONSTRAINT email_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: link_clicks link_clicks_link_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_clicks
    ADD CONSTRAINT link_clicks_link_id_fkey FOREIGN KEY (link_id) REFERENCES public.links(id) ON DELETE CASCADE;


--
-- Name: link_tags link_tags_link_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.link_tags
    ADD CONSTRAINT link_tags_link_id_fkey FOREIGN KEY (link_id) REFERENCES public.links(id) ON DELETE CASCADE;


--
-- Name: links links_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.links
    ADD CONSTRAINT links_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE SET NULL;


--
-- Name: links links_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.links
    ADD CONSTRAINT links_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: affkit
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: affkit
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict XQTYiakYIBqF3gCp6qgeGjA6fzOmMsE4C6SqPrLhp2F13qQg5qdvQOa8yg2hTtw

